<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
          <div class="col-lg-8">
            <form id="new-form">
              <input type="text" class="city" placeholder="Enter a city" />
          </form>
          </div>
        </div>
        </br>
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <!--weather card-->
                <div class="card card-weather">
                    <div class="card-body">
                        <div class="weather-date-location">
                            <h2> <span class="weather-location">location</span></h2>
                            <h3>day of week</h3>
                            <p class="text-gray"> <span class="weather-date">date</span></p>
                        </div>
                        <div class="weather-data d-flex">
                            <div class="mr-auto">
                                <img id="wicon" src="" alt="Weather icon">
                                <h4 class="display-3"> 
                                  <span id="temperature">0</span> 
                                  <span class="symbol">°</span>C</h4>
                                <p id="description"> desciption </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="d-flex weakly-weather">
                            <div class="weakly-weather-item">
                                <p class="mb-0 day-1"> Sun </p> 
                                <img id="wicon-1" src="" alt="Weather icon">
                                <p class="mb-0 temp-1"> 30° </p>
                            </div>
                            <div class="weakly-weather-item">
                                <p class="mb-1 day-2"> Mon </p> 
                                 <img id="wicon-2" src="" alt="Weather icon">
                                <p class="mb-0 temp-2"> 31° </p>
                            </div>
                            <div class="weakly-weather-item">
                                <p class="mb-1 day-3"> Tue </p> 
                                 <img id="wicon-3" src="" alt="Weather icon">
                                <p class="mb-0 temp-3"> 28° </p>
                            </div>
                            <div class="weakly-weather-item">
                                <p class="mb-1 day-4"> Wed </p> 
                                 <img id="wicon-4" src="" alt="Weather icon">
                                <p class="mb-0 temp-4"> 30° </p>
                            </div>
                            <div class="weakly-weather-item">
                                <p class="mb-1 day-5"> Thu </p> 
                                 <img id="wicon-5" src="" alt="Weather icon">
                                <p class="mb-0 temp-5"> 29° </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--weather card ends-->
            </div>
        </div>
    </div>
</div>