@import "bootstrap";

 .stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

 body {
     background: image_url('zig_zag_wool.png');
     background-color: #f9f9fa
 }

 .navbar {
     background: image_url('tiny-squares.png')

 }

 .booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}


 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 2rem 5rem 5rem 5rem;
 }

 .grid-margin,
 .purchace-popup>div {
     margin-bottom: 25px
 }

 .card {
     border: 0;
     border-radius: 2px
 }

 .card-weather {
     background: #e1ecff;
     background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff)
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0, 0, 0, 0.125);
     border-radius: 0.25rem
 }

 .card-weather .card-body:first-child {
    // background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1557323760/weather.svg) no-repeat center;
     background-color: white;
     background-size: cover
 }

.card-weather .card-body._01d{
     background: image_url('01d.png') no-repeat;
     background-position: center;
     background-size: 50%;
}

.card-weather .card-body._01n{
     background: image_url('01n.png') no-repeat;
     background-position: center;
     background-size: 50%;
}

.card-weather .card-body._02n{
     background: image_url('02n.png') no-repeat;
     background-position: center;
     background-size: 50%;
}

.card-weather .card-body._02d{
     background: image_url('02d.png') no-repeat;
     background-position: center;
     background-size: 50%;
}

.card-weather .card-body._03d, .card-weather .card-body._03n{
     background: image_url('03d.png') no-repeat;
     background-position: center;
     background-size: 50%;  
}

.card-weather .card-body._04d, .card-weather .card-body._04n{
     background: image_url('04d.png') no-repeat;
     background-position: center;
     background-size: 50%;  
}

.card-weather .card-body._09d, .card-weather .card-body._09n{
     background: image_url('09d.png') no-repeat;
     background-size: 50%;
     background-position: center;
}

.card-weather .card-body._10d{
     background: image_url('10d.png') no-repeat;
     background-size: 50%;
     background-position: center;
}


.card-weather .card-body._10n{
     background: image_url('10n.png') no-repeat;
     background-size: 50%;
     background-position: center;
}


.card-weather .card-body._11d, .card-weather .card-body._11n{
     background: image_url('11d.png') no-repeat;
     background-size: 50%;
     background-position: center;
}

.card-weather .card-body._13d, .card-weather .card-body._13n{
     background: image_url('13d.png') no-repeat;
     background-size: 50%;
     background-position: center;
}

.card-weather .card-body._50d, .card-weather .card-body._50n{
     background: image_url('50d.png') no-repeat;
     background-size: 50%;
     background-position: center;
}

 .card .card-body {
     padding: 1.88rem 1.81rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 }

 .card-weather .weather-date-location {
     padding: 0 0 38px
 }

 .h3,
 h3 {
     font-size: 1.56rem
 }

 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Poppins", sans-serif;
     font-weight: 500
 }

 .text-gray,
 .card-subtitle,
 .new-accounts ul.chats li.chat-persons a p.joined-date {
     color: #969696
 }

 p {
     font-size: 13px
 }

 .text-gray,
 .card-subtitle,
 .new-accounts ul.chats li.chat-persons a p.joined-date {
     color: #969696
 }

 .card-weather .weather-data {
     padding: 0 0 4.75rem
 }

 .mr-auto,
 .mx-auto {
     margin-right: auto !important
 }

 .display-3 {
     font-size: 2.5rem
 }

 .card-weather .card-body {
     background: #ffffff
 }

 .card-weather .weakly-weather {
     background: #ffffff;
     overflow-x: auto
 }

 .card-weather .weakly-weather .weakly-weather-item {
     flex: 0 0 20%;
     border-right: 1px solid #f2f2f2;
     padding: 1rem;
     text-align: center
 }

 .mb-0,
 .my-0 {
     margin-bottom: 0 !important
 }

 .card-weather .weakly-weather .weakly-weather-item i {
     font-size: 1.2rem
 }

 .weather-data #description{
    text-transform:capitalize;
}

.weakly-weather-item img{
     width: 25px;
}

.weather-location{
     text-transform:capitalize;
}

#new-form .city{
     width: 100%;
}
 